* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(241.29deg, #5C0849 10.31%, #2D7474 93.41%);
    overflow: hidden;
    font-size: 17px;
}

main{
    position: absolute;
    align-items: center;
    left: 27vw;
    top: 15vh;
}

section{
    background:linear-gradient(241.29deg, #2D7474 10.31%, #5C0849 93.41%);
    position: relative;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 20px; 
    width: 50vw;
    left: 25vw;
    border-radius: 20px;
    box-shadow: 0 0 10px whitesmoke;
}
textarea{
    width: 500px;
    height: 190px;
    border-radius: 15px;
    padding: 8px;
    outline: 0;
    border: none;
    color: black;
    box-shadow: 0 0 5px black;
}
input{
    position: relative;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: darkgrey;
    box-shadow: 0 0 5px black;
}
#page2{
    display: none;
}
#inserirJs{
    position: relative;
    top: 20px;
}

